.button {
   background-color: #252c41;
   display: inline-block;
   font-family: ArialMT, Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: #fff;
   width: 200px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   text-decoration: none;
}