.header-store {
   overflow: hidden;
}

.title {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   float: left;
}

.navigation {
   float: right;
}

.action {
   font-family: SegoeUI, Arial, Helvetica, sans-serif;
   font-size: 21px;
   text-decoration: none;
   padding: 0 30px;
}

.title, .action {
   color: #fff;
}