header {
   background-color: #e24647;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h1 {
   font-family: Arial;
   font-size: 40px;
}

a {
   font-family: SegoeUI;
   font-size: 21px;
   text-decoration: none;
}

h1,
a {
   color: #fff;
}
